gradio>=5.22.0
httpx>=0.28.1
datasets>=3.2.0
fastapi>=0.115.0
google-cloud-alloydb-connector[pg8000]>=1.9.0
python-dotenv>=1.0.1
numpy>=1.26.4
openai>=1.66.0
pg8000>=1.31.2
sentence-transformers>=3.3.1
uvicorn>=0.34.0
